.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
dependencies.lock
build/
managed_components/
sdkconfig
sdkconfig.old
.cache/clangd/index/Attribute.swift.176D71FD0C205252.idx
.cache/clangd/index/BridgingHeader.h.D17CF14E416400F8.idx
.cache/clangd/index/button_adc.c.63164E9588DD1555.idx
.cache/clangd/index/button_adc.h.5C766C4604597BD7.idx
.cache/clangd/index/button_gpio.c.85BE86FBCFC197A2.idx
.cache/clangd/index/button_gpio.h.D8C4E99D5B164DED.idx
.cache/clangd/index/button_interface.h.2611DCD3549171E7.idx
.cache/clangd/index/button_matrix.c.F8EA492459A94C63.idx
.cache/clangd/index/button_matrix.h.689C783C8601FB08.idx
.cache/clangd/index/button_types.h.B5E76A6BB6A33956.idx
.cache/clangd/index/cbor.h.9483F6EC299E26A2.idx
.cache/clangd/index/cbor.h.317273EC80CEA0E9.idx
.cache/clangd/index/cborencoder_close_container_checked.c.937AE2074FE2495C.idx
.cache/clangd/index/cborencoder_float.c.76C99C9596E780B5.idx
.cache/clangd/index/cborencoder.c.E53B9711078225A1.idx
.cache/clangd/index/cborerrorstrings.c.438EEA5291B75D52.idx
.cache/clangd/index/cborinternal_p.h.5CA32A17388EFE58.idx
.cache/clangd/index/cborjson.h.886E22299EE6B592.idx
.cache/clangd/index/cborparser_dup_string.c.C1B91DE7089F7858.idx
.cache/clangd/index/cborparser_float.c.8FC00765A711E4D3.idx
.cache/clangd/index/cborparser.c.6427D386FC57259C.idx
.cache/clangd/index/cborpretty_stdio.c.7C76149F0C4AABFA.idx
.cache/clangd/index/cborpretty.c.FCFE9AD9969D678D.idx
.cache/clangd/index/cbortojson.c.0E0EEE62FAC2C9D1.idx
.cache/clangd/index/cborvalidation.c.BFB621E561B531FA.idx
.cache/clangd/index/Clusters.swift.9EF378716D825168.idx
.cache/clangd/index/cmd_resp.c.EA3D12A79CF06263.idx
.cache/clangd/index/compilersupport_p.h.4736D9AA0D3391B3.idx
.cache/clangd/index/create_APN3_PPI_string.c.401F4AA8085EEA67.idx
.cache/clangd/index/detools.c.E7F6196F494F1203.idx
.cache/clangd/index/detools.h.BE5C84B399DE7DF2.idx
.cache/clangd/index/esp_delta_ota.c.5FB071B29ECB84D9.idx
.cache/clangd/index/esp_delta_ota.h.A977302109043504.idx
.cache/clangd/index/esp_diag_data_store.c.1E9A849A8215C23A.idx
.cache/clangd/index/esp_diag_data_store.h.E95A8FDFF4EE6B40.idx
.cache/clangd/index/esp_diagnostics_heap_metrics.c.7D0371A213AE37BD.idx
.cache/clangd/index/esp_diagnostics_internal.h.DF4BDB559C306528.idx
.cache/clangd/index/esp_diagnostics_log_hook.c.EC3BDAB068B5826F.idx
.cache/clangd/index/esp_diagnostics_metrics.c.46D37F9CF0F2F786.idx
.cache/clangd/index/esp_diagnostics_metrics.h.C7AC335015EAF9D8.idx
.cache/clangd/index/esp_diagnostics_network_variables.c.8197099A16927C9F.idx
.cache/clangd/index/esp_diagnostics_network_variables.h.5E2FD0E679708719.idx
.cache/clangd/index/esp_diagnostics_system_metrics.h.D11A6EBC3535C001.idx
.cache/clangd/index/esp_diagnostics_utils.c.53610F1DF0EF341B.idx
.cache/clangd/index/esp_diagnostics_variables.c.D92AA92E8D9FDB3A.idx
.cache/clangd/index/esp_diagnostics_variables.h.5A504B6C55228BD2.idx
.cache/clangd/index/esp_diagnostics_wifi_metrics.c.3EF3F8DE88826FD8.idx
.cache/clangd/index/esp_diagnostics.h.95F4B22FA221EA30.idx
.cache/clangd/index/esp_encrypted_img.c.B61D695420F607AF.idx
.cache/clangd/index/esp_encrypted_img.h.086244368FD843F9.idx
.cache/clangd/index/esp_insights_cbor_decoder.c.C1B7D5EED8AD0B30.idx
.cache/clangd/index/esp_insights_cbor_decoder.h.09170A2BD04309D2.idx
.cache/clangd/index/esp_insights_cbor_encoder.c.5DCF7B3F38884AE4.idx
.cache/clangd/index/esp_insights_cbor_encoder.h.CF94CAFBDD283EEA.idx
.cache/clangd/index/esp_insights_client_data.c.11685EFB8E0EF4D7.idx
.cache/clangd/index/esp_insights_client_data.h.0BB6CB6B9FCE6924.idx
.cache/clangd/index/esp_insights_cmd_resp.c.00259B316500E580.idx
.cache/clangd/index/esp_insights_encoder.c.BCB127DE9B75D091.idx
.cache/clangd/index/esp_insights_encoder.h.86C44692CA24CD34.idx
.cache/clangd/index/esp_insights_https.c.EE31E61DA8380C02.idx
.cache/clangd/index/esp_insights_internal.h.75EA1B677831D663.idx
.cache/clangd/index/esp_insights_transport.c.4F5E181B300D2EC9.idx
.cache/clangd/index/esp_insights.c.C34D871CAA781C9C.idx
.cache/clangd/index/esp_insights.h.7036E9A602B227E8.idx
.cache/clangd/index/esp_loader_io.h.8F5CC45C08D1199E.idx
.cache/clangd/index/esp_loader.c.DB7741072F64B8BD.idx
.cache/clangd/index/esp_loader.h.02ADDEC3D1E06AEB.idx
.cache/clangd/index/esp_rcp_firmware.h.EE132094AA628AC9.idx
.cache/clangd/index/esp_rcp_ota.c.A665F9E5B2A270FF.idx
.cache/clangd/index/esp_rcp_ota.h.7841AC24A9D6C033.idx
.cache/clangd/index/esp_rcp_update.c.E6C4BEE3438D7D50.idx
.cache/clangd/index/esp_rcp_update.h.46EA3794F56A6D4D.idx
.cache/clangd/index/esp_rmaker_cmd_resp.h.366962F3408D8385.idx
.cache/clangd/index/esp_rmaker_common_console.h.1D25913BF31F61C5.idx
.cache/clangd/index/esp_rmaker_common_events.h.DF3A95E8B8F9AB06.idx
.cache/clangd/index/esp_rmaker_factory.h.6395961381F5E24A.idx
.cache/clangd/index/esp_rmaker_mqtt_glue.h.C639AF51E0A74066.idx
.cache/clangd/index/esp_rmaker_utils.h.530CCE6A37C00D11.idx
.cache/clangd/index/esp_rmaker_work_queue.h.AF79A17EFF30A8C8.idx
.cache/clangd/index/esp_secure_cert_config.h.CC27F0C9D6CC650A.idx
.cache/clangd/index/esp_secure_cert_crypto.c.5123891D025703BD.idx
.cache/clangd/index/esp_secure_cert_crypto.h.90B2025C5E27F651.idx
.cache/clangd/index/esp_secure_cert_read.h.DBFEECE339A17259.idx
.cache/clangd/index/esp_secure_cert_tlv_config.h.6437497AC4D55F56.idx
.cache/clangd/index/esp_secure_cert_tlv_private.h.357F0FC05D1DB4F9.idx
.cache/clangd/index/esp_secure_cert_tlv_read.c.E81173C2B8F9BEF9.idx
.cache/clangd/index/esp_secure_cert_tlv_read.h.DE9597AB2EB13395.idx
.cache/clangd/index/esp_targets.c.FCEDB9DEE807E3CF.idx
.cache/clangd/index/esp_targets.h.7733CAEEBBC46BDA.idx
.cache/clangd/index/esp-mqtt-glue.c.7F30823C66DCBA2D.idx
.cache/clangd/index/esp32_port.c.9DEAB8718273DA4D.idx
.cache/clangd/index/esp32_port.h.F8C261F255CB33C5.idx
.cache/clangd/index/factory.c.288C2795EE2E3CA4.idx
.cache/clangd/index/heatshrink_common.h.0E7293E24167D20A.idx
.cache/clangd/index/heatshrink_config.h.0B0FB09529FB109E.idx
.cache/clangd/index/heatshrink_decoder.c.B2CB4CB4F315F64E.idx
.cache/clangd/index/heatshrink_decoder.h.738DDF16C339E2C9.idx
.cache/clangd/index/iot_button.c.B9E2550145F96FCF.idx
.cache/clangd/index/iot_button.h.C0DC364E5013C928.idx
.cache/clangd/index/jsmn.h.79BDE2D1FF5D9DA1.idx
.cache/clangd/index/json_generator.c.8B7EC78AACB0D00C.idx
.cache/clangd/index/json_generator.h.B7E8C483D99747E1.idx
.cache/clangd/index/json_parser.c.09B4765513C40AA7.idx
.cache/clangd/index/json_parser.h.DA59863065417480.idx
.cache/clangd/index/ld2410c_wrapper.cpp.DDADBEC323FEFD39.idx
.cache/clangd/index/ld2410c_wrapper.h.BF9AC628DDDE5A0E.idx
.cache/clangd/index/led_strip_rmt_ws2812.c.BF8651FD406B5EE5.idx
.cache/clangd/index/led_strip.h.3A557D8499790EA8.idx
.cache/clangd/index/LED.swift.6609CF676B35A431.idx
.cache/clangd/index/Main.swift.4C470B724DBB901E.idx
.cache/clangd/index/Matter.swift.E2D3764FD77F50B0.idx
.cache/clangd/index/MatterInterface.cpp.41108901D3E94127.idx
.cache/clangd/index/MatterInterface.h.931A6DEF07E70BD4.idx
.cache/clangd/index/md5_hash.c.F9FB9C3BBDBC9368.idx
.cache/clangd/index/md5_hash.h.48A027EFE8A56ED3.idx
.cache/clangd/index/mdns_console.c.B632DB13F90DDC9D.idx
.cache/clangd/index/mdns_mem_caps.c.5D802EC818B3366C.idx
.cache/clangd/index/mdns_mem_caps.h.60AB924E635377EE.idx
.cache/clangd/index/mdns_networking_lwip.c.51918538AD76AA57.idx
.cache/clangd/index/mdns_networking.h.24967B8C4B3E1CD8.idx
.cache/clangd/index/mdns_private.h.34FA4B71BD3F4AD8.idx
.cache/clangd/index/mdns.c.695C2D5BD2CDD43D.idx
.cache/clangd/index/mdns.h.851FC753F97AF100.idx
.cache/clangd/index/MyLD2410.cpp.17794CFB7CC6A658.idx
.cache/clangd/index/MyLD2410.h.8F68D81883D01C42.idx
.cache/clangd/index/Node.swift.77668989BA193C70.idx
.cache/clangd/index/open_memstream.c.A2D640DA4DD4AA33.idx
.cache/clangd/index/protocol.c.C417E11F2BC94CBA.idx
.cache/clangd/index/protocol.h.F9CD1C0DFAA7387B.idx
.cache/clangd/index/rmaker_common_cmds.c.2A13AECEA51858C4.idx
.cache/clangd/index/rmaker_console_internal.h.94F95FBCD1F69D39.idx
.cache/clangd/index/rmaker_console.c.F5886F7A00EC393B.idx
.cache/clangd/index/rtc_store.c.1F49384EFFEA111D.idx
.cache/clangd/index/rtc_store.h.F2B77BAC9376971E.idx
.cache/clangd/index/slip.c.8539C7E9B818D7BF.idx
.cache/clangd/index/slip.h.8E41CED7A9B6FF6D.idx
.cache/clangd/index/time.c.6AB35F06473AE2FB.idx
.cache/clangd/index/timezone.c.DD8C618676E23455.idx
.cache/clangd/index/tinycbor-version.h.9BF1DD031E9BA7E1.idx
.cache/clangd/index/utf8_p.h.DDFFDC332967D268.idx
.cache/clangd/index/utils.c.0F4191530A94E4B4.idx
.cache/clangd/index/work_queue.c.EAABF4541DBBD075.idx
